$color-transition: color 200ms linear;
$default-lineheight: 1.5714;
$navbar-height: 46px;
$itv-columbia-blue: #cde0e2;
$itv-hummingbird: #e8fbfc;
$itv-sea-green: #59bac4;
$itv-tropical-green: #0b6472;
$itv-azure-white: #e0eaeb;
$itv-white: #fcfcfc;
$itv-athens-gray: #f4f4f5;
$itv-iron-gray: #e9e9ea;
$itv-lite-gray: #dfe1e2;
$itv-cool-gray: #a8afb1;
/* disable state for button */
$itv-deep-gray: #7b8386;
$itv-oslo-gray: #85878d;
$itv-dark-gray: #5c5c5c;
$itv-black-charade: #22252f;
$itv-fandango: #b83e6e;
$itv-hub-pink: #d42d7d;
$itv-java: #19bec8;
$itv-hub-accessible-blue: #149ca3;
$itv-hub-blue-chill-blue: #138e96;
$itv-hub-dusk-blue: #22252f;
$itv-hub-dark-gray: #5c5c5c;
$itv-hub-deep-gray: #7b8386;
$itv-hub-cool-gray: #a8afb1;
$itv-hub-light-gray: #dfe1e2;
$itv-hub-alert-red: #ed0000;
$itv-hub-light-fandango: #b83e6e;
$itv-hub-warning-orange: #f5871f;
$itv-hub-error: #ff1414;
$itv-hub-success: #14a32c;
$itv-hub-form-success: #0b6519;
$itv-hub-form-error: #b80000;
$itv-hub-citv: #ffaa00;
